<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="https://www.sherpany.com/en/">Sherpany</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink="">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/settings">Settings</a>
    </li>
  </ul>
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" #searchBox (input)="search(searchBox.value)" placeholder="Search" aria-label="Search">
  </form>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
