<p>Please select nationalities</p>
<ul class="nationalities">
  <li>
    <label>
      <input type="checkbox" [(ngModel)]="nationalities.ch" (change)="onChange()" />
      CH
    </label>
  </li>
  <li>
    <label>
      <input type="checkbox" [(ngModel)]="nationalities.es" (change)="onChange()" />
      ES
    </label>
  </li>
  <li>
    <label>
      <input type="checkbox" [(ngModel)]="nationalities.fr" (change)="onChange()" />
      FR
    </label>
  </li>
  <li>
    <label>
      <input type="checkbox" [(ngModel)]="nationalities.gb" (change)="onChange()" />
      GB
    </label>
  </li>
</ul>
